a {
    color: #FFFFFF;
    text-decoration: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.content {
    height: 94vh;
    display: flex;
}

.navbar-content {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    height: 90vh;
    background-color: #264653;
    color: aliceblue;
}

.underline {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1e5288;
}

.link {
    padding: 10px;
}

.content-inside {
    width: 70vw;
    background-color: #dee2e6;
}



.user {
    display: flex;
    padding: 20px;
    font-size: x-large;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.content-checkbox {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-checkbox-title {
    background-color: #ced4da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

.individual-checkbox {
    display: flex;
    flex-direction: row;
    font-weight: normal;

}

.individual-checkbox input[type=checkbox]+span {
    font-weight: normal;

}

.individual-checkbox input[type=checkbox]:checked+span {
    font-weight: bold;
    color: black;
}

.content-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-form-title {
    background-color: #ced4da;
}

.form {
    flex-wrap: wrap;
}

.individual-form {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.cancel-button {}

.save-button {
    background-color: #40aae8;
    color: white;
    border: none;
}

button {
    border: solid .5px grey;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    margin: 10px;
}